html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
}

// PC
@media screen and (min-width: 769px) {
  .container {
    width: 100%;
    // min-width: 1280px;
    box-sizing: border-box;

    padding: 10px;

    border-radius: 10px;
    // background-color: rgba(#2681c8, 0.5);

    +.container {
      margin-top: 15px;
    }

    .container-title {
      p {
        text-align: center;
        margin: 0;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-size: 20px;
      }
    }
    

    .component {
      margin-top: 10px;
      padding-bottom: 5px;
    }
  }
}

// SP
@media screen and (max-width: 768px) {
  .container {
    min-width: 320px;

    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    background-color: rgba(#2681c8, 0.5);

    +.container {
      margin-top: 15px;
    }

    .container-title {
      p {
        text-align: center;
        margin: 0;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-size: 20px;
      }
    }

    .component {
      margin-top: 10px;
      padding-bottom: 5px;
    }
  }
}